body{
    background: rgb(232,8,130);
background: linear-gradient(90deg, rgba(232,8,130,0.8469827586206897) 0%, rgba(150,12,172,0.8448275862068966) 35%, rgba(198,210,209,0.8426724137931034) 100%);
    width: auto;
    height: auto;
    padding: 0;
    margin: auto;
}
header{
    background-color: black;
}
h1{
    color: aliceblue;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    text-align: center;
    padding: 10px;
    margin-bottom: 1%;
    margin-top: 1%;

}
img{
    border-radius: 30%;
}
button{
    margin-bottom: 5%;
    background: goldenrod;
    border-style: solid;
    border-radius: 40%;
}
footer{
    margin-top: 10px;
    text-align:end;
    padding-inline: 10px;
    color: white;
    background-color: black;
}